@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
div>textarea{
    resize: none;
}
.sweetalertpadding{
    padding: 0 2.5rem;
}
.qr{
    border-radius: 15px;
}